DATABASE_URL=root@tcp(localhost:13307)/lws?multiStatements=true&parseTime=True
MQTT_URL=tcp://localhost:11883
AMQP_URL=amqp://rabbitmq:rabbitmq@rabbit:15672/
REDIS_URL=localhost:16379
CORECLIENT_URL=
